mixin input(name, label, type, value, disabled)
	label(name=name) #{label}
	.input
		input(name=name, type=type, value=(value ? value : ''), disabled=disabled)

mixin textarea(name, label, value, rows)
	label(name=name) #{label}
	textarea(name=name, rows=rows)= value

mixin checkboxes(type, name, multiple, addable, checked)
	label
		| #{name}
		if(addable)
			.add.button(data-model=type) +
	.module.checkboxes.populate(data-type='checkboxes', data-model=type, class=type, data-checked=checked)
		+checkbox(type, null, null, multiple)

mixin checkbox(type, name, value, multiple, checked)
	.item.checkbox(class=(value ? value : 'null'), data-value=value)
		input(type=(multiple ? 'checkbox' : 'radio'), value=(value ? value : ''), name=type, id=(value ? value+'-checkbox' : ''), checked=checked)
		label(class=type, data-pop='name', for=(value ? value+'-checkbox' : '')) #{(name ? name : '')}

mixin dateselect(months, days)
	.input.short
		.item.date.selects
			.select.month(data-datetype='month')
				.display(data-datetype='month') Month
				.module.options.months(data-type='checkboxes', data-datetype='month')
					+checkbox('month', null, null, false)
			.select.day(data-datetype='day')
				.display(data-datetype='day') Day
				.module.options.days(data-type='checkboxes', data-datetype='day')
					+checkbox('day', null, null, false)
			.select.year(data-datetype='year')
				.display(data-datetype='year') Year
				.module.options.years(data-type='checkboxes', data-datetype='year')
					+checkbox('year', null, null, false)

mixin coords(type, title)
	.row.two
		.cell
			+input(null, 'Latitude', 'text', (object && object[type] ? object[type].latitude : ''), true)
		.cell
			+input(null, 'Longitude', 'text', (object && object[type] ? object[type].longitude : ''), true)