mixin input(name, label, type, value)
	label(name=name) #{label}
	.input
		input(name=name, type=type, value=(value ? value : ''))

mixin textarea(name, label, value, rows)
	label(name=name) #{label}
	textarea(name=name, rows=rows)= value

mixin checkboxes(type, name, multiple, addable)
	label
		| #{name}
		if(addable)
			.add.button(data-model=type) +
	.module.checkboxes.populate(data-type='checkboxes', data-model=type, class=type, data-checked=(object ? object[type] : ''))
		+checkbox(type, null, null, multiple)

mixin checkbox(type, name, value, multiple)
	.item.checkbox(class=(value ? value : 'sample'))
		input(type=(multiple ? 'checkbox' : 'radio'), value=(value ? value : ''), name=type, id=(value ? value+'Checkbox' : ''))
		label(class=type, data-pop='name', for=(value ? value+'Checkbox' : '')) #{(name ? name : '')}

mixin dateselect(months, days)
	.input
		.item.date.selects
			.select.month(data-datetype='month')
				.display(data-datetype='month') Month
				.module.options.months(data-type='checkboxes', data-datetype='month')
					+checkbox('month', null, null, false)
			.select.day(data-datetype='day')
				.display(data-datetype='day') Day
				.module.options.days(data-type='checkboxes', data-datetype='day')
					+checkbox('day', null, null, false)
			.select.year(data-datetype='year')
				.display(data-datetype='year') Year
				.module.options.years(data-type='checkboxes', data-datetype='year')
					+checkbox('year', null, null, false)

mixin coords(parent, title)
	.row.two
		label(name='point') #{title}
		.cell
			+input(parent+'.latitude', 'Latitude', 'text', (object ? object[parent].latitude : ''))
		.cell
			+input(parent+'.longitude', 'Longitude', 'text', (object ? object[parent].longitude : ''))